body {
    background-color: rgb(234, 248, 244);
    font-family: "Noticia Text", sans-serif;
}

header h1 {
    text-align: center;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.5rem;
}

main {
    background-color: rgb(248, 253, 255);
    width: 600px;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 0.5rem 10px;
    border-radius: 6px;
    text-transform: capitalize;
    text-shadow: 1px;
}

main h2 {
    font-weight: 700;
    font-size: medium;
}

main ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 2px;
}

.boxstyle {
    text-align: left;
    display: flex;
    flex-direction: column;
}


.labales {
    font-size: x-small;
    margin: 4px 0;
}

.userinput {
    padding: 3px 0;
}

#radiotype {
    font-size: x-small;
    display: flex;
    flex-direction: column;
    text-transform: initial;
}

.horizental {
    display: flex;
}

#acceptterms {
    font-size: x-small;
    margin-top: 10px;
    text-transform: capitalize;
    margin-bottom: 3px;
}

.control {
    text-align: right;
    margin-top: 2px;
    
}

.btn {
    border-radius: 4px;
    padding: 4px 15px;
    font-size: x-small;
    font-family: "Noticia Text", sans-serif;


}

#clearbtn {
    background-color: white;
    border: rgb(21, 21, 83);
}

#submitbtn {
    background-color: rgb(21, 21, 83);
    color: white;
    border: black;
}